<div class="container card">
	<div class="row">
		<div class="twelve columns">
			<p class="comment-title">Comment by
				{{user.username}}
				on
				{{format_date date_created}}</p>
			<p class="preserve-whitespace">{{comment_content}}</p>

			{{! determine if user is the one who posted the comment, if yes then show edit button }}
			{{#if_content_author session_host user_id}}
				<div class="u-pull-right">
					<a href="/comments/update/{{id}}" class="button">Edit Comment</a>
				</div>
			{{else}}
				{{! empty space }}
			{{/if_content_author}}

		</div>
	</div>
</div>