{{#each postComments as |comment|}}
	<div class="container card border-blue">
		<div class="row border-red">
			<div class="twelve columns">
				<p class="comment-title">Comment by
					{{comment.user.username}}
					on
					{{format_date comment.date_created}}</p>
				<p class="preserve-whitespace">{{comment.comment_content}}</p>

				{{#if logged_in}}
					{{! if user is logged in, show update/delete buttons }}
					<a href="/posts/update/{{id}}" class="button">Update Post</a>
					<a href="/dashboard" class="button" data-id="{{id}}">Delete Post</a>
				{{/if}}
			</div>
		</div>
	</div>
{{/each}}