{{!-- NOT IN USE --}}



{{! condensed blog post details for user }}
<div class="container card border-blue">
	{{! link to the post id }}
	<a href="/post/{{id}}">
		<div class="row card-header bottom-accent">
			{{! post title }}
			<div class="two-thirds column border-greenyellow">
				<h5 class="post-title">{{postTitle}}</h5>
			</div>
			{{! date the user created the post }}
			<div class="one-third column border-orange">
				<h6 class="post-author">You posted this on
					{{format_date date_created}}</h6>
			</div>
		</div>
		{{! post content }}
		<div class="row border-greenyellow">
			<div class="twelve columns">
				<p>{{post_content}}</p>
			</div>
		</div>

		<div class="u-pull-right border-blue">
			<a href="/update/{{id}}" class="button">Update Post</a>

			<a href="/delete/{{id}}" class="button">Delete Post</a>
		</div>

	</a>
</div>