{{! cards for each blog post }}
<div class="container card">
	{{! link to the post id }}
	<a href="/posts/{{id}}">
		<div class="row card-header bottom-accent">
			{{! post title }}
			<div class="two-thirds column">
				<h5 class="post-title">{{post_title}}</h5>
			</div>

			{{! post author }}
			<div class="one-third column">
				{{#if is_in_dashboard}}
					<h6 class="post-author">posted by
						{{dashboard_user}}
						<br />
						<span class="italicised">{{format_date date_created}}</span></h6>
				{{else}}
					<h6 class="post-author">posted by
						{{user.username}}
						<br />
						<span class="italicised">{{format_date date_created}}</span></h6>
				{{/if}}
			</div>
		</div>

		{{! post content }}
		<div class="row">
			<div class="twelve columns">
				<p class="preserve-whitespace">{{post_content}}</p>
			</div>
		</div>
	</a>

	{{! show update/delete buttons to content author only }}
	{{#if_content_author session_host user_id}}
		<div class="u-pull-right">
			<a href="/posts/update/{{id}}" class="button">Edit Post</a>
		</div>
	{{else}}
		{{! empty space }}
	{{/if_content_author}}
</div>