{{!-- card for specific blog post --}}
<div class="container card border-blue">
  {{!-- link to the post id --}}
  <div class="row card-header bottom-accent">
    {{!-- post title --}}
    <div class="two-thirds column border-greenyellow">
      <h5 class="post-title">{{postTitle}}</h5>
    </div>
    {{!-- post author --}}
    <div class="one-third column border-orange">
      <h6 class="post-author">posted by {{user.username}} on {{date_created}}</h6>
    </div>
  </div>
  {{!-- post content --}}
  <div class="row">
    <div class="twelve columns">
      <p>{{postContent}}</p>
    </div>
  </div>
  </a>
</div>

{{!-- {{#if comments.length}}
{{#each comments as |comment|}}
<div class="container border-blue">
  <div class="row border-red">
    <div class="twelve columns">
      <p>{{comment.commentContent}}</p>
    </div>
  </div>
</div>
{{/each}}
{{/if}} --}}