{{!-- card for specific blog post --}}
<div class="container card border-blue">
  {{!-- link to the post id --}}
  <div class="row card-header bottom-accent">
    {{!-- post title --}}
    <div class="two-thirds column border-greenyellow">
      <h5 class="post-title">{{post_title}}</h5>
    </div>
    {{!-- post author --}}
    <div class="one-third column border-orange">
      <h6 class="post-author">posted by {{user.username}} on {{format_date date_created}}</h6>
    </div>
  </div>
  {{!-- post content --}}
  <div class="row">
    <div class="twelve columns">
      <p>{{post_content}}</p>
    </div>
  </div>
  </a>

  {{#if_content_author host user_id}}
  <div class="u-pull-right border-blue">
    <a href="/update/{{id}}" class="button">Update Post</a>

    <a href="/delete/{{id}}" class="button">Delete Post</a>
  </div>
	{{else}}
		{{! empty space }}
	{{/if_content_author}}
</div>

{{!-- if there are comments --}}
{{#if postComments.length}}
{{> comments}}
{{/if}}


{{!-- add a comment --}}
<div class="container border-blue">
  <div class="row border-red">
    <div class="twelve columns">
      <form id="leave-comment-form">
        <label for="comment-content">Leave a comment:</label>
        {{!-- {{#if logged_in}} --}}
        <textarea id="comment-content" class="u-full-width"></textarea>

        <button class="button-primary" type="submit">Post</button>
        {{!-- {{else}}
        <div>Please log in to comment on this post.</div>
        {{/if}} --}}
      </form>
    </div>
  </div>
</div>


<script src="/js/comments.js"></script>